<div class="section-header centered-header">Order History</div>
{{if orders().length === 0}}
<div class="passive-info-msg centered-header">Nothing in the order history yet...</div>
{{else}}
<table class="history-table" cellspacing="0">
    <tr>
        <th>Name</th>
        <th class="right-aligned-value">Cost</th>
        <th class="centered-value">Ordered Time</th>
        <th class="centered-value">Status</th>
    </tr>
{{each(i,item) orders}}
    <tr>
    {{if i % 2 !== 0}}

        <td class="history-row history-row-alt">${name}</td>
        <td class="history-row history-row-alt right-aligned-value">${cost}</td>
        <td class="history-row history-row-alt centered-value">${dispTimeStamp}</td>
        <td class="history-row history-row-alt centered-value">${status}</td>
    {{else}}
        <td class="history-row">${name}</td>
        <td class="history-row right-aligned-value">${cost}</td>
        <td class="history-row centered-value">${dispTimeStamp}</td>
        <td class="history-row centered-value">${status}</td>
    {{/if}}
    </tr>
{{/each}}
</table>
{{/if}}